# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/

# Database
db.sqlite3

# Media
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Migration files (keep __init__.py only)
**/migrations/*.py
!**/migrations/__init__.py

# Django
*.log
